<div class="text-center">
    <h1 class="display-4">Yo soy Jose Luis Madrid Londoño</h1>
    <h2> Desarrollador de software </h2>
    <img id="foto" src="~/imagenes/foto.png" alt="Foto consultor" />
</div>

<div class="text-center">
    <img id="imagen-net" src="~/imagenes/imagen.jpg" />
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Bienvenidos a mi Portafolio de servicios de valor agraegado</h1>
        <p>
            Yo soy un apasionado desarrollador de software fullstack con habilidades
            adicionales como ensamble y mantenimiento de computadores. Mi enfoque no solo se centra en la creación de soluciones técnicas eficientes
            sino también en la innovación y la mejora continua, en mi trayectoria mi visión a largo plazo incluye la creación
            y gestión de mi propia empresa, planeo seguir fortaleciendo mis conocimientos a través de estudios continuos
            y siempre buscando oportunidades para aprender y crecer en el campo de la tecnología. Hallar una empresa donde
            pueda aplicar mis habilidades en desarrollar soluciones tecnológicas significativas estoy emocionado por las futuras
            oportunidades que me permitirán contribuir con mi experiencia y pasión por la tecnología espero poder aportar
            mi conjunto único de habilidades a proyectos desafiantes y colaborar en un entorno innovador..
        </p>
    </div>
</div>
